$zd-font-path-prefix: "../fonts/zero-day";

@font-face {
  font-family: 'icomoon';
  src:url('#{$zd-font-path-prefix}/zero-day.eot?s7gnkv');
  src:url('#{$zd-font-path-prefix}/zero-day.eot?s7gnkv#iefix') format('embedded-opentype'),
  url('#{$zd-font-path-prefix}/zero-day.ttf?s7gnkv') format('truetype'),
  url('#{$zd-font-path-prefix}/zero-day.woff?s7gnkv') format('woff'),
  url('#{$zd-font-path-prefix}/zero-day.svg?s7gnkv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "font-definitions/zero_day";

.icon-Pfeil_experten_left{
  @extend .icon-Pfeil_experten;
  transform: rotate(180deg);
}