$zdBlack: #38404c;
$zdPrimary: #05ee66;

html,
body {
  padding: 0;
  margin: 0;
  font-family:"Apercu Regular", Calibri, Roboto, sans-serif;
  font-size-adjust:0.508;
  font-weight:normal;
  font-style:normal;
  color: $zdBlack;
}

body {

  *[ng-view] {
    @import "../../start/styles/start";
    @import "../../overview/styles/overview";
  }

  *[ng-click] {
    cursor: pointer;
  }

  .full-screen-view {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .center-items {
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 35pt;
  }

  ul.no-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  header {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 9;
  }

  .btn{
    border: none;
    color: white;
    background: white;
    font-size: 16pt;
    padding: 10px;
    color: black;

    &.primary{
      background: $zdPrimary;
    }
  }

  .zd-menu-corner {
    position: fixed;
    width: 100px;
    height: 100px;
    transition: all 1s ease;

    #cornerSvg {
      fill: $zdBlack;
    }

    .menu-icon {
      position: absolute;
      left: 10px;
      top: 10px;
      .burger {

        .topping {
          position: relative;
          transition: all 1s ease;
          width: 30px;
          height: 2px;
          margin: 5px 0;
          background: white;

          &.line-1 {
            transform: rotate(0);
            &.top {
              top: 0px;
            }
          }

          &.line-2 {
            transform: rotate(0);

            &.top {
              top: 0px;
            }
            &.bottom {
              top: 0px;
            }
          }
        }
      }
    }

    .menu-content {
      position: absolute;
      color: white;
      left: 30px;
      width: 50%;
      height: 50%;
      display: flex;
      justify-content: center;
      top: 100px;

      ul {
        display: flex;
        flex-direction: column;
        font-size: 50px;
        text-transform: uppercase;
      }

      //** ANIMATION START **/
      &.ng-leave,
      &.ng-animate.ng-enter {
        @include single-transition(all, 0.8s, ease);
      }

      // IN
      &.ng-animate.ng-enter.ng-enter-active,
      &.ng-leave {
        opacity: 1;
      }

      // OUT
      &.ng-animate.ng-enter,
      &.ng-leave.ng-leave-active {
        opacity: 0;
      }
      //** ANIMATION END **/
    }

    &.opened {
      width: 180%;
      height: 180%;

      .menu-icon .burger {
        .topping {
          &.line-1 {
            transform: rotate(45deg);

            &.top {
              top: 7px;
            }
          }
          &.line-2 {
            transform: rotate(-45deg);

            &.top {
              top: -7px;
            }
            &.bottom {
              top: -14px;
            }
          }
        }
      }
    }
  }
}