@import "vars";
@import "zd_modal";

@mixin grid-bg($color1, $color2) {
  background:
          linear-gradient(to bottom, transparent, transparent 80%, $color1 80%, $color1),
          linear-gradient(to left, $color1, $color1 60%, $color2 60%, $color2);
  background-size: 15px 47px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Apercu Regular", Calibri, Roboto, sans-serif;
  font-size-adjust: 0.508;
  font-weight: normal;
  font-style: normal;
  color: $zdBlack;
}

body {

  *[ng-view] {
    @import "../../start/styles/start";
    @import "../../overview/styles/overview";
  }

  *[ng-click] {
    &:not(.un-clickable) {
      cursor: pointer;
    }
  }

  .full-screen-view {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .center-items {
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 22pt;
  }

  ul.no-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  header {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 9;
  }

  .btn {
    border: none;
    color: white;
    background: white;
    font-size: 16pt;
    padding: 10px;
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    &.primary {
      background: $zdPrimary;
    }
  }

  .zd-go-to-page-on-page-end{
    font-size: 100px;
    width: 100%;
    text-align: center;
  }

  .zd-menu-corner {
    position: fixed;
    width: 100px;
    height: 100px;
    transition: all 1s ease;

    #cornerSvg {
      fill: $zdBlack;
    }

    .menu-icon {
      position: absolute;
      left: 12px;
      top: 12px;
      .burger {

        .topping {
          position: relative;
          transition: all 1s ease;
          width: 25px;
          height: 1px;
          margin: 5px 0;
          background: white;

          &.line-1 {
            transform: rotate(0);
            &.top {
              top: 0px;
            }
          }

          &.line-2 {
            transform: rotate(0);

            &.top {
              top: 0px;
            }
            &.bottom {
              top: 0px;
            }
          }
        }
      }
    }

    .menu_vw{
      color: $zdGreen25;
    
    }
    .menu_vw:hover{
      opacity: 0.5;
    }

    .menu_ri{
      color: $zdGreen50;
      }
    .menu_ri:hover{
      opacity: 0.5;
    }

    .menu_ca{
      color: $zdGreen75;
    }
    .menu_ca:hover{
      opacity: 0.5;
    }

    .menu_pt{
      color: $zdGreen100;
    }
    .menu_pt:hover{
      opacity: 0.5;
    }

    .menu-content {
      position: absolute;
      color: white;
      left: 8%;

      display: flex;
      justify-content: center;
      top: 100px;

      ul {
        display: flex;
        flex-direction: column;
        font-size: 25pt;
        line-height: 40pt;
        text-transform: uppercase;
        font-family: "Apercu Regular";
        font-style: normal;
        font-weight: normal;
      }

      //** ANIMATION START **/
      &.ng-leave,
      &.ng-animate.ng-enter {
        @include single-transition(all, 0.8s, ease);
      }

      // IN
      &.ng-animate.ng-enter.ng-enter-active,
      &.ng-leave {
        opacity: 1;
      }

      // OUT
      &.ng-animate.ng-enter,
      &.ng-leave.ng-leave-active {
        opacity: 0;
      }
      //** ANIMATION END **/
    }

    &.opened {
      width: 180%;
      height: 180%;

      .menu-icon .burger {
        .topping {
          &.line-1 {
            transform: rotate(45deg);

            &.top {
              top: 7px;
            }
          }
          &.line-2 {
            transform: rotate(-45deg);

            &.top {
              top: -7px;
            }
            &.bottom {
              top: -14px;
            }
          }
        }
      }
    }
  }
}