<article>
  <h3>Virtualisierung der Welt</h3>
  
  <div>
    <cite>
      Die eigentliche Bedrohung sind nicht Hacker und Cyber-Krieger, sondern die zunehmende Virtualisierung der Welt.
    </cite>
    <span class="author">Marcel Kolvenbach.</span>

  </div>

  <br>

  <p>
    Cyberwar-Attacken greifen mit digitalen Methoden digitale Ziel-Systeme an. Die Wirkungen dieser virtuellen
    Angriffe bleiben aber nicht auf die virtuelle Welt beschränkt. Unsere reale, physische Welt hat sich immer
    stärker in die Abhängigkeit einer virtuellen Parallelwelt begeben. Informationsmedien, Wirtschaft und
    Finanzströme und kritische Infrastrukturen werden heute von digitalen Systemen gesteuert. Ein Ausfall solcher
    Systeme, oder deren Manipulation kann zu großen Schäden in der realen Welt führen.
  </p>

  <p>
    Die Vernetzung dieser digitalen Steuerungssysteme und insbesondere deren Einbindung in das Internet machen sie
    zum Teil der virtuellen Parallelwelt. Cyberwar-Attacken können so zu großen Zerstörungen in der realen Welt
    führen.
  </p>

  <div>
    <cite>
      Wir werden zunehmend abhängiger von digitalen Systemen, sei es in der Geschäftswelt, in militärischen
      Organisationen oder im medizinischen Sektor. Diese Entwicklung erhöht das Gefahrenrisiko in allen
      Bereichen </cite>
    <span class="author">Peter Warren Singer.</span>

  </div>

</article>


<article>
  <h3>Interview mit Sandro Gacken</h3>
  <p> <a style="color:#00ff69;
font-family:'Apercu Mono Regular'"> 2015 | 29.September</a> <br>Sandro Gaycken, der IT-Security Experte aus Berlin, erläutert die Auswirkungen von Cyberwar im Gespräch mit dem »Zeroday« Team. <br> <br>
  </p>


  <iframe src="https://player.vimeo.com/video/148418419?color=00ff69&title=0&byline=0&portrait=0" width="730" height="411" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</article>


<article>
  <h3>Abhängigkeit von vernetzten Systemen</h3>

  <p>
    Die reale Bedrohung durch Cyberwar-Attacken wird erst verständlich, wenn unsere Abhängigkeit von vernetzten
    Systemen
    und deren Verwundbarkeit deutlich wird.<br><br><br>
  </p>

  <div class="ovlerlay-btns-holder">

    <div class="overlay-btn">
      <div zd-fill-icon-on-hover="TV"
           constants="realImpactsCtrl.ImpactIcons"
           ng-click="realImpactsCtrl.riInformationModal.show()"></div>
      <h4>
        Informations-<br>Medien
      </h4>
    </div>

    <div class="overlay-btn">
      <div zd-fill-icon-on-hover="PIGGYBANK"
           constants="realImpactsCtrl.ImpactIcons"
           ng-click="realImpactsCtrl.riEconomyModal.show()"></div>
      <h4>
        Wirtschaft <br>und Finanzmarkt
      </h4>
    </div>

    <div class="overlay-btn">
      <div zd-fill-icon-on-hover="POLE"
           constants="realImpactsCtrl.ImpactIcons"
           ng-click="realImpactsCtrl.riInfrastructureModal.show()"></div>
      <h4>
        Kritische <br>Infrastruktur
      </h4>
    </div>
  </div>
</article>

<article>
  <h3>Art der Verwundbarkeit</h3>

  <p>
    Cyberwar im engeren Sinn hat das Ziel gegnerische Staaten mit Gewalt und Zerstörung zu besiegen. Diese Art von
    Cyberwar hat bis heute nicht stattgefunden.<br><br><br>
  </p>

  <div class="ovlerlay-btns-holder">

    <div class="overlay-btn">
      <div zd-fill-icon-on-hover="SPYGLASS"
           constants="realImpactsCtrl.ImpactIcons"
           ng-click="realImpactsCtrl.riSpyModal.show()"></div>
      <h4>
        Spionage
      </h4>
    </div>

    <div class="overlay-btn">
      <div zd-fill-icon-on-hover="MOUSE"
           constants="realImpactsCtrl.ImpactIcons"
           ng-click="realImpactsCtrl.riManipulationModal.show()"></div>
      <h4>
        Manipulation
      </h4>
    </div>

    <div class="overlay-btn">
      <div zd-fill-icon-on-hover="WRENCH"
           constants="realImpactsCtrl.ImpactIcons"
           ng-click="realImpactsCtrl.riSabotageModal.show()"></div>
      <h4>
        Sabotage
      </h4>
    </div>
  </div>
</article>