<article>
  <h3>Virtualisierung der Welt</h3>
  <div>
    <cite>
        Die eigentliche Bedrohung sind nicht Hacker und Cyber-Krieger, sondern die zunehmende Virtualisierung der Welt.
    </cite>
    <span class="author">Marcel Kolvenbach.</span>
  <div>


  <p>
    Cyberwar-Attacken greifen mit digitalen Methoden digitale Ziel-Systeme an. Die Wirkungen dieser virtuellen Angriffe bleiben aber nicht auf die virtuelle Welt beschränkt. Unsere reale, physische Welt hat sich immer stärker in die Abhängigkeit einer virtuellen Parallelwelt begeben. Informationsmedien, Wirtschaft und Finanzströme und kritische Infrastrukturen werden heute von digitalen Systemen gesteuert. Ein Ausfall solcher Systeme, oder deren Manipulation kann zu großen Schäden in der realen Welt führen.
  </p>

  <p>
   Die Vernetzung dieser digitalen Steuerungssysteme und insbesondere deren Einbindung in das Internet machen sie zum Teil der virtuellen Parallelwelt. Cyberwar-Attacken können so zu großen Zerstörungen in der realen Welt führen.  
 </p>
<div>
    <cite>
  Wir werden zunehmend abhängiger von digitalen Systemen, sei es in der Geschäftswelt, in militärischen Organisationen oder im medizinischen Sektor. Diese Entwicklung erhöht das Gefahrenrisiko in allen Bereichen    </cite>
    <span class="author">Peter Warren Singer.</span>
  <div>

</article>

<article>
  <h3>Interview mit Sandro Gaycken</h3>
</article>

<article>
  <h3>Abhängigkeit von vernetzten Systemen</h3>

  <div>
 </p>
 Die reale Bedrohung durch Cyberwar-Attacken wird erst verständlich, wenn unsere Abhängigkeit von vernetzten Systemen und deren Verwundbarkeit deutlich wird.
 </p>
  </div>
</article>

<article>
  <h3>Art der Verwundbarkeit</h3>
  <div>
 </p>
 Cyberwar im engeren Sinn hat das Ziel gegnerische Staaten mit Gewalt und Zerstörung zu besiegen. Diese Art von Cyberwar hat bis heute nicht stattgefunden.
 </p>
  </div>
</article>