<div class="navigator full-screen-view center-items">

    <div class="entries-holder locked">

        <div class="entry warfare min-flex">
            <div class="holder"
                 zd-calculate-static-width="50%"
                 zd-calculate-static-height="100%">
                <object data="modules/overview/assets/warfare_logo.svg" type="image/svg+xml">
                    <img src="modules/overview/assets/warfare_logo_fallback.png"/>
                </object>
                <div class="title">
                    <h2>Virtual Warfare</h2>

                    <p class="copy">Das Virtuelle Schlachtfeld</p>
                </div>
            </div>
        </div>


        <div class="active entry-next"
             zd-fade-to-color-on-scroll color="#fff"
             zd-overview-item
             id="impacts"
             url="/overview/real-impacts"
             logo-url="modules/overview/assets/impacts_logo.svg"
             logo-fallback-url="modules/overview/assets/impacts_logo_fallback.png"
             title="Real Impacts"
             copy="Auswirkungen auf die reale Welt">

            <div class="content-holder"
                 zd-calculate-static-width="100%"
                 ng-include="'modules/overview/templates/virtual_warfare/_content.html'"></div>

            <div class="button-holder">

                <button class="btn btn-nav">Previous</button>
                <button class="btn btn-nav btn-impact">Next</button>

            </div>
        </div>

        <div class="min-flex"
             zd-overview-item
             id="attacks"
             url="/overview/current-attacks"
             logo-url="modules/overview/assets/attacks_logo.svg"
             logo-fallback-url="modules/overview/assets/attacks_logo_fallback.png"
             title="Current Attacks"
             copy="Die Geschichte der Cyberattacken"></div>

        <div class="no-flex"
             zd-overview-item
             id="threads"
             url="/overview/virtual-warfare"
             logo-url="modules/overview/assets/threads_logo.svg"
             logo-fallback-url="modules/overview/assets/threads_logo_fallback.png"
             title="Potential Threads"
             copy="Veränderung der Weltweiten Machtkonstellation"></div>

    </div>
</div>