&.overview.ng-enter, &.view.ng-leave, &.view.ng-enter, &.view.ng-leave {
  @include single-transition(all, 1.1s, ease);
}


/* Overview -> Virtual Warfare */
&.overview.index.virtual-warfare-enter.ng-leave { }

&.overview.index.virtual-warfare-enter.ng-leave-active {
  z-index: 1;

  .entry {
    flex-basis: 0;

    &:not(.warfare) .holder{
      opacity: 0;
    }
  }

  .entry.warfare {
    flex-basis: 98%;

    .holder .title {
        transform: translateX(5%);
    }
  }

  .entry.impacts {
    flex-basis: 2%;
  }
}


/* Overview -> Real Impacts */
&.overview.index.real-impacts-enter.ng-leave { }

&.overview.index.real-impacts-enter.ng-leave-active {
  z-index: 1;

  .entry {
    flex-basis: 0;

    &:not(.impacts) .holder{
      opacity: 0;
    }
  }

  .entry.impacts {
    flex-basis: 96%;

    .holder .title {
      transform: translateX(5%);
    }
  }

  .entry.attacks,
  .entry.warfare{
    flex-basis: 2%;
  }
}


/* Overview -> Current Attacks */
&.overview.index.current-attacks-enter.ng-leave { }

&.overview.index.current-attacks-enter.ng-leave-active {
  z-index: 1;

  .entry {
    flex-basis: 0;

    &:not(.attacks) .holder{
      opacity: 0;
    }
  }

  .entry.attacks {
    flex-basis: 96%;

    .holder .title {
      transform: translateX(5%);
    }
  }

  .entry.impacts,
  .entry.threads{
    flex-basis: 2%;
  }
}

/* Overview -> Potential Threads */
&.overview.index.potential-threads-enter.ng-leave { }

&.overview.index.potential-threads-enter.ng-leave-active {
  z-index: 1;

  .entry {
    flex-basis: 0;

    &:not(.threads) .holder{
      opacity: 0;
    }
  }

  .entry.threads {
    flex-basis: 98%;

    .holder .title {
      transform: translateX(5%);
    }
  }

  .entry.attacks{
    flex-basis: 2%;
  }
}