/* Potential Threads -> Overview */
&.overview.potential-threads.index-enter.ng-leave {
}

&.overview.potential-threads.index-enter.ng-leave-active {
  z-index: 2;

  .entry {
    flex-basis: 25%;
  }

  .entry.threads {
    flex-basis: 25%;
  }
}

/* Potential Threads -> Current Attacks */
&.overview.potential-threads.current-attacks-enter.ng-leave {
}

&.overview.potential-threads.current-attacks-enter.ng-leave-active {
  z-index: 2;

  .entry {
    flex-basis: 0%;
  }

  .entry.attacks {
    flex-basis: 96%;

    .holder {
      opacity: 1;
      .title {
        transform: translateX(5%);
      }
    }
  }

  .entry.impacts,
  .entry.threads{
    flex-basis: 2%;
  }

  .entry.threads{
    background: $threads-color !important;

    .bg-pattern{
      opacity: 0 !important;
    }
  }
}