/* Virtual-Warfare -> Overview */
&.overview.virtual-warfare.index-enter.ng-leave {
}

&.overview.virtual-warfare.index-enter.ng-leave-active {
  z-index: 2;

  .entry {
    flex-basis: 25%;
  }

  .entry.warfare {
    flex-basis: 25%;
  }
}

/* Virtual-Warfare -> Real Impacts */
&.overview.virtual-warfare.real-impacts-enter.ng-leave {
}

&.overview.virtual-warfare.real-impacts-enter.ng-leave-active {
  z-index: 2;

  .entry {
    flex-basis: 0%;
  }

  .entry.warfare {
    flex-basis: 2%;
    background: $warfare-color !important;

    .bg-pattern{
     opacity: 0 !important;
    }
  }

  .entry.impacts {
    flex-basis: 96%;

    .holder {
      opacity: 1;
      .title {
        transform: translateX(5%);
      }
    }
  }

  .entry.attacks {
    flex-basis: 2%;
  }
}