<section class="start-view">
  <section full-screen-view class="intro-screen">
    <i class="icon-Logo_gross logo"></i>
  </section>

  <intro-view></intro-view>

  <section full-screen-view class="menu">
      <div class="item item-1">
        <div class="holder">
          <img src="./warfare_logo.png">
        </div>
      </div>
      <div class="item item-2">
        <div class="holder">
          <i class="icon-real-impacts_logo logo"></i>
        </div>
      </div>
      <div class="item item-3">
        <div class="holder">
          <i class="icon-current-attacks_logo logo"></i>
        </div>
      </div>
      <div class="item item-4">
        <div class="holder">
          <i class="icon-potential-threats_logo logo"></i>
        </div>
      </div>
  </section>
</section>
