@import "../../../main/components/main/variables.style";
@import "../../../main/components/main/mixins.style";

.start-view{
  @include grid-bg(#05ee66, #00ff69);

  .splash{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
      font-size: 35vw;
    }
  }
}


