@font-face {
  font-family: 'icomoon';
  src:url('zero-day.eot?s7gnkv');
  src:url('zero-day.eot?s7gnkv#iefix') format('embedded-opentype'),
  url('zero-day.ttf?s7gnkv') format('truetype'),
  url('zero-day.woff?s7gnkv') format('woff'),
  url('zero-day.svg?s7gnkv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-KritischeInfrastruktur:before {
  content: "\e900";
}
.icon-Richard_A_Clarke:before {
  content: "\e901";
}
.icon-Sandro_Gaycken:before {
  content: "\e902";
}
.icon-Attributationsproblem_hover:before {
  content: "\e903";
}
.icon-Attributationsproblem:before {
  content: "\e904";
}
.icon-current-attacks_logo:before {
  content: "\e905";
}
.icon-Dirk_Helbing:before {
  content: "\e906";
}
.icon-Dokument_hover:before {
  content: "\e907";
}
.icon-Dokument:before {
  content: "\e908";
}
.icon-Felix_Lindner:before {
  content: "\e909";
}
.icon-Francois_Delerue:before {
  content: "\e90a";
}
.icon-GeringesRiskoKleinesGeld_hover:before {
  content: "\e90b";
}
.icon-GeringesRiskoKleinesGeld:before {
  content: "\e90c";
}
.icon-Heike_Krieger:before {
  content: "\e90d";
}
.icon-HoheHackerkompetenz_hover:before {
  content: "\e90e";
}
.icon-HoheHackerkompetenz:before {
  content: "\e90f";
}
.icon-Ian_J_West:before {
  content: "\e910";
}
.icon-Informationsmedien_hover:before {
  content: "\e911";
}
.icon-Informationsmedien:before {
  content: "\e912";
}
.icon-Joel_Brenner:before {
  content: "\e913";
}
.icon-KriegOhneRaumUndZeit_hover:before {
  content: "\e914";
}
.icon-KriegOhneRaumUndZeit:before {
  content: "\e915";
}
.icon-KritischeInfrastruktur_hover:before {
  content: "\e916";
}
.icon-Logo_gross:before {
  content: "\e917";
}
.icon-Logo_klein:before {
  content: "\e918";
}
.icon-Malte_Herwig:before {
  content: "\e919";
}
.icon-Manipulation_hover:before {
  content: "\e91a";
}
.icon-Manipulation:before {
  content: "\e91b";
}
.icon-newspaper_hover:before {
  content: "\e91c";
}
.icon-newspaper:before {
  content: "\e91d";
}
.icon-Peter_W_Singer:before {
  content: "\e91e";
}
.icon-Pfeil_experten:before {
  content: "\e91f";
}
.icon-Pfeil:before {
  content: "\e920";
}
.icon-potential-threats_logo:before {
  content: "\e921";
}
.icon-real-impacts_logo:before {
  content: "\e922";
}
.icon-Sabotage_hover:before {
  content: "\e923";
}
.icon-Sabotage:before {
  content: "\e924";
}
.icon-Spionage_hover:before {
  content: "\e925";
}
.icon-Spionage:before {
  content: "\e926";
}
.icon-Thomas_Rid:before {
  content: "\e927";
}
.icon-UnsichtbareAngriffe_hover:before {
  content: "\e928";
}
.icon-UnsichtbareAngriffe:before {
  content: "\e929";
}
.icon-virtual-warfare_logo:before {
  content: "\e92a";
}
.icon-Website_hover:before {
  content: "\e92b";
}
.icon-Website:before {
  content: "\e92c";
}
.icon-WirtschaftUndFinanzmarkt_hover:before {
  content: "\e92d";
}
.icon-WirtschaftUndFinanzmarkt:before {
  content: "\e92e";
}
