<article>
  <h3>Was ist Cyberwar</h3>

  <p>
    Seit mehr als einem Jahrzehnt wird über Cyberwar debattiert.
    Medien tendieren dazu, den Begriff für sämtliche digitale Attacken
    zu verwenden. Populäre Beispiele sind der NSA-Abhörskandal
    »Regin« oder das AKW-Sabotage-Projekt »Stuxnet
    «. Zahlreiche Hacking-Angriffe wie jene auf das Weisse
    Haus, auf die Homepage Estlands oder auf Nachrichtenportale
    wie Le Monde nach »Charlie Hebdo« wurden zu Cyberwar-Akten
    erklärt.
  </p>

  <p>
    Unterschiedliche Cyberwar-Experten haben versucht den Begriff
    Cyberwar zu denieren. Sie kommen zum Teil zu verschiedenen
    Ergebnissen. In einem Punkt sind sie sich aber einig. Cyberwar-
    Angriffe gehen immer von Staaten aus und sie haben
    das Ziel sich einen politischen und militärischen Vorteil zu verschaffen.
    Cyberwar im engeren Sinn hat das Ziel gegnerische
    Staaten mit Gewalt und Zerstörung zu besiegen. Diese Art von
    Cyberwar hat bis heute nicht stattgefunden.
  </p>

  <p>
    Dagegen gehen von zivilen Cyberattacken zumeist deutlich geringere
    Bedrohungen aus. Sie können nach Angreifer-Typ und
    Angriffsziel unterschieden werden. Da gibt es den »Teenagerhacker
    «, der aus Lust an der technischen Herausforderung in
    sensible Datensysteme einbricht. Zweitens gibt es die politischen
    Aktivisten, die in einer Art virtueller Sitzblockade Internetseiten
    von kritisierten Organisationen oder Unternehmen
    blockieren oder verändern. Und es gibt drittens »Cybercrime
    «, bei dem es darum geht, dass sich Einzelpersonen oder
    Organisationen durch Cyberattacken einen illegalen wirtschaftlichen
    Nutzen verschaffen. Das beginnt bei Kleinkriminellen, die
    Kontodaten ausspähen und geht bis zu groß angelegter Unternehmensspionage.
  </p>
</article>

<article>
  <h3>Was meinen die Experten?</h3>
</article>

<article>
  <h3>Was ändert sich an der Kriegsführung?</h3>

  <div>
    <cite>
        Der Aufmarsch wird lautlos sein. Kein
        Panzer rollt, keine Geschütze donnern,
        keine Flieger dröhnen durch die Luft. Nur
        Tastaturklappern und Mausklicks – so klingt
        der Krieg der Zukunft
    </cite>
    <span class="author">Christian Bartlau.</span>
  </div>
</article>

<article>
  <h3>Charactersitiaks der neuen Kriegsführung?</h3>
</article>