<article>
  <h3>Die Geschichte der Cyber-Attacken</h3>
  

  <p>
    Cyberwar als Krieg zwischen zwei Staaten konnte noch nicht beobachtet werden. Trotzdem werden in den Medien immer öfters Cyber-Attacken beschrieben, die zeigen, welchen Schaden solche Angriffe bewirken können. Im Gegensatz zu Cyberwar gehen solche Angriffe zumeist von nichtmilitärischen Akteuren aus. Doch aufgrund des Attributionsproblems ist es sehr schwer den tatsächlichen Angreifer zu identifizieren. Deshalb braucht es zumeist einige Zufälle um einem professionellen Angreifer auf die Spur zu kommen.  So ist heute wohl klar, dass der Stuxnet Angriff auf die iranische Atomwirtschaft militärisch geplant und durchgeführt wurde.
  </p>

<div>
    <cite>
      In jedem Fall war Stuxnet aber die erste echte Demonstartion militärischer Macht im Cyberwar, ein erstes Indiz für die reale Gewalt des Cyberwar […] Seit Stuxnet muss das Thema Cyberwar ernst genommen werden.
    </cite>
    <span class="author">Sandro Gaycken.</span>
  </div>


  <p>
    <br><br>
    Auch Terrororganisationen wie der IS haben gezeigt, dass sie der Lage sind Cyberattacken anzuwenden.  Beispielsweise blockierten IS-Hacker am 11. Januar 2015 die Internetseiten französischer Organisationen und am 8. April 2015 übernahm der IS die Kontrolle über den französischen Fernsehsender TV 5 Monde. Demgegenüber steht die Hackergruppe »Anonymous«, die den IS-Hackern den Krieg erklärt hat. Sowohl nach dem Anschlag auf das Satiremagazin »Charlie Hebdo« als auch nach den aktuellen Anschlägen in Paris haben Anonymous-Aktivisten die Twitter-Konten von mehreren Tausend IS-Sympathisanten blockiert.
 </p>
 <p>
    In der folgenden Timeline werden nun einige der bekanntgewordenen Fälle von Cyberangriffen dokumentiert.
 </p>

</article>
<article>
  <div class="spy-holder" zd-spy-holder id="spyHolder">
    <ul class="calendar no-list-style nav" zd-affix offset="50">
      <li zd-spy="2015" class="active">
        <a href="#2015">2015</a>
        <ul class="no-list-style nav">
          <li zd-spy="2015_JAN" class="active"><a href="#2015_JAN">Januar</a></li>
          <li zd-spy="2015_FEB"><a href="#2015_FEB">Februar</a></li>
          <li zd-spy="2015_MAR"><a href="#2015_MAR">März</a></li>
          <li zd-spy="2015_APR"><a href="#2015_APR">April</a></li>
        </ul>
      </li>
      <li zd-spy="2014">
        <a href="#2014">2014</a>
        <ul class="no-list-style nav">
          <li zd-spy="2014_JAN"><a href="#2014_JAN">Januar</a></li>
          <li zd-spy="2014_FEB"><a href="#2014_FEB">Februar</a></li>
        </ul>
      </li>
      <li zd-spy="2013">
        <a href="#2013">2013</a>
        <ul class="no-list-style nav">
          <li zd-spy="2013_JUN"><a href="#2013_JUN">Juni</a></li>
          <li zd-spy="2013_JUL"><a href="#2013_JUL">Juli</a></li>
        </ul>
      </li>
    </ul>
    <div class="content">
      <section id="2015">
        <article-tl id="2015_APR">
          <h3>Israel</h3>
          <h1>2015  |  7.April  12:00 Uhr</h1>
          <h4>Alljährliche Hackerattacke</h4>
          <p>Seit 2013 ist der 7. April Tag der Cyberangriffe. In diesem Jahr wurden offenbar mehrere israelische Webseiten angegriffen, darunter zahlreiche Seiten der Regierung. Hinter den Angriffen stecken anscheinend pro-palästinensische Hacker, bei Twitter bekannte sich ein Kollektiv namens Op_Israel zu den virtuellen Angriffen. Unter dem freien Kollektiv Anonymous kann praktisch jeder im Internet Hackerangriffe starten. Die Organisation Op_Israel protestierte schon durch frühere Angriffe gegen Entscheidungen der israelischen Regierung.
          </p>
        </article-tl>
        <article-tl id="2015_FEB">
          <h3>USA</h3>
          <h1>2015  |  10. Februar  12:00 Uhr</h1>
          <h4>»CyberCaliphate« hackt amerikanisches Magazin</h4>
          <p>Der Twitter-Account des amerikanischen Magazin Newsweek wurde von der, angeblich der IS nahestehenden Gruppe »CyberCaliphate« gehackt. Der Angriff dauert lediglich einige Minuten, während derer die Terroristen das Profilbild änderten. Es zeigte eine schwarze Flagge mit dem Spruch „Je su IS IS“. Die Hackertruppe pries während der Attacke den Cyber-Dschihad und drohte Michelle Obama und ihrer Familie mit dem Kommentar: »Bloody #Valentine’s Day Michelle Obama! We’re watching you, your girls, and your husband!«
          </p>
        </article-tl>
        <article-tl id="2015_MAR">
           <h3>Frankreich</h3>
          <h1>2015  |  11.Januar  12:00 Uhr</h1>
          <h4>Islamisten attackieren französische Webseiten</h4>
          <p>Die islamistische Gruppe »Fallaga team« aus Tunesien attackiert mehrere Internetseiten französischer Organisationen, Unternehmen und Schulen, unter anderem die Webseite des Gymnasiums in Dammartin-en-Goële, wo die Kouachi-Brüder getötet wurden. Auf allen Internetseiten veröffentlichen sie die gleiche Nachricht: »Es gibt keinen anderen Gott als Allah. Mohammed ist sein Prophet.«
          </p>
       </article-tl>
        <article-tl id="2015_APR">
          <h3>Israel</h3>
          <h1>2015  |  7.April  12:00 Uhr</h1>
          <h4>Alljährliche Hackerattacke</h4>
          <p>Seit 2013 ist der 7. April Tag der Cyberangriffe. In diesem Jahr wurden offenbar mehrere israelische Webseiten angegriffen, darunter zahlreiche Seiten der Regierung. Hinter den Angriffen stecken anscheinend pro-palästinensische Hacker, bei Twitter bekannte sich ein Kollektiv namens Op_Israel zu den virtuellen Angriffen. Unter dem freien Kollektiv Anonymous kann praktisch jeder im Internet Hackerangriffe starten. Die Organisation Op_Israel protestierte schon durch frühere Angriffe gegen Entscheidungen der israelischen Regierung.
          </p>
        </article-tl>
      </section>

      <section id="2014">
        <article-tl id="2014_JAN">
          <h3>Israel</h3>
          <h1>2015  |  7.April  12:00 Uhr</h1>
          <h4>Alljährliche Hackerattacke</h4>
          <p>Seit 2013 ist der 7. April Tag der Cyberangriffe. In diesem Jahr wurden offenbar mehrere israelische Webseiten angegriffen, darunter zahlreiche Seiten der Regierung. Hinter den Angriffen stecken anscheinend pro-palästinensische Hacker, bei Twitter bekannte sich ein Kollektiv namens Op_Israel zu den virtuellen Angriffen. Unter dem freien Kollektiv Anonymous kann praktisch jeder im Internet Hackerangriffe starten. Die Organisation Op_Israel protestierte schon durch frühere Angriffe gegen Entscheidungen der israelischen Regierung.
          </p>
        </article-tl>
        <article-tl id="2014_FEB">
          <h3>Israel</h3>
          <h1>2015  |  7.April  12:00 Uhr</h1>
          <h4>Alljährliche Hackerattacke</h4>
          <p>Seit 2013 ist der 7. April Tag der Cyberangriffe. In diesem Jahr wurden offenbar mehrere israelische Webseiten angegriffen, darunter zahlreiche Seiten der Regierung. Hinter den Angriffen stecken anscheinend pro-palästinensische Hacker, bei Twitter bekannte sich ein Kollektiv namens Op_Israel zu den virtuellen Angriffen. Unter dem freien Kollektiv Anonymous kann praktisch jeder im Internet Hackerangriffe starten. Die Organisation Op_Israel protestierte schon durch frühere Angriffe gegen Entscheidungen der israelischen Regierung.
          </p>
        </article-tl>
      </section>

      <section id="2013">
        <article-tl id="2013_JUN">
          <h3>Juni 2013</h3>
          <h3>Israel</h3>
          <h1>2015  |  7.April  12:00 Uhr</h1>
          <h4>Alljährliche Hackerattacke</h4>
          <p>Seit 2013 ist der 7. April Tag der Cyberangriffe. In diesem Jahr wurden offenbar mehrere israelische Webseiten angegriffen, darunter zahlreiche Seiten der Regierung. Hinter den Angriffen stecken anscheinend pro-palästinensische Hacker, bei Twitter bekannte sich ein Kollektiv namens Op_Israel zu den virtuellen Angriffen. Unter dem freien Kollektiv Anonymous kann praktisch jeder im Internet Hackerangriffe starten. Die Organisation Op_Israel protestierte schon durch frühere Angriffe gegen Entscheidungen der israelischen Regierung.
          </p>
        </article-tl>
        <article-tl id="2013_JUL">
          <h3>Israel</h3>
          <h1>2015  |  7.April  12:00 Uhr</h1>
          <h4>Alljährliche Hackerattacke</h4>
          <p>Seit 2013 ist der 7. April Tag der Cyberangriffe. In diesem Jahr wurden offenbar mehrere israelische Webseiten angegriffen, darunter zahlreiche Seiten der Regierung. Hinter den Angriffen stecken anscheinend pro-palästinensische Hacker, bei Twitter bekannte sich ein Kollektiv namens Op_Israel zu den virtuellen Angriffen. Unter dem freien Kollektiv Anonymous kann praktisch jeder im Internet Hackerangriffe starten. Die Organisation Op_Israel protestierte schon durch frühere Angriffe gegen Entscheidungen der israelischen Regierung.
          </p>
        </article-tl>
      </section>

    </div>
    <div style="clear:both"></div>
  </div>
</article>