<div class="navigator full-screen-view center-items">

    <div class="entries-holder locked">

        <div class="no-flex"
             zd-overview-item
             id="warfare"
             url="/overview/real-impacts"
             logo-url="modules/overview/assets/warfare_logo.svg"
             logo-fallback-url="modules/overview/assets/warfare_logo_fallback.png"
             title="Virtual Warfare"
             copy="Das Virtuelle Schlachtfeld"
             holder-width="100%">
        </div>


        <div zd-set-property-to-scroll-pos
             property="margin-top"

             class="min-flex"
             zd-overview-item
             id="impacts"
             url="/overview/real-impacts"
             logo-url="modules/overview/assets/impacts_logo.svg"
             logo-fallback-url="modules/overview/assets/impacts_logo_fallback.png"
             title="Real Impacts"
             copy="Auswirkungen auf die reale Welt"
             holder-width="100%">
        </div>

        <div class="active entry-next"
             zd-fade-to-color-on-scroll color="#fff"
             zd-overview-item
             id="attacks"
             url="/overview/current-attacks"
             logo-url="modules/overview/assets/attacks_logo.svg"
             logo-fallback-url="modules/overview/assets/attacks_logo_fallback.png"
             title="Current Attacks"
             copy="Die Geschichte der Cyberattacken"
             holder-width="100%">

            <div class="content-holder"
                 zd-calculate-static-width="100%"
                 ng-include="'modules/overview/templates/current_attacks/_content.html'"></div>

            <div class="button-holder">

                <button class="btn btn-nav impact">Previous</button>
                <button class="btn btn-nav threads">Next</button>

            </div>

        </div>

        <div zd-set-property-to-scroll-pos
             property="margin-top"

             class="min-flex"
             zd-overview-item
             id="threads"
             url="/overview/potential-threads"
             logo-url="modules/overview/assets/threads_logo.svg"
             logo-fallback-url="modules/overview/assets/threads_logo_fallback.png"
             title="Potential Threads"
             copy="Veränderung der Weltweiten Machtkonstellation"
             holder-width="100%"></div>

    </div>
</div>