<div zd-modal icon="{{ImpactIcons.getIconById('TV')}}">

  <div zd-modal-body class="content-holder">
    <h1>Informationsmedien</h1>
    <p>
      nformationen über die Welt sind für die Menschen von zentraler Bedeutung um Orientierung und Entscheidungskompetenz in ihrer Realität zu erlangen. Diese Informationen werden z.T. durch reale Erfahrungen und zu einem immer größeren Anteil über Informationsmedien vermittelt.
    <p>
    <p>
      In den letzten Jahren ist eine zunehmende Digitalisierung dieses Informationsflusses zu beobachten. Digitale Medienportale nehmen im Verhältnis zu den Printmedien an Bedeutung zu. Aber auch die klassischen Informationsmedien, wie TV, Radio und Zeitungen erschließen, transportieren und verwalten ihre Informationsdaten über mit dem Internet verbundene IT-Systeme.
    <p>
    <p>
      Damit können die Informationsflüsse Ziel von Cyberwar-Attacken werden. Wenn so Informationen manipuliert oder verhindert werden, kann dies individuelle Entscheidungen oder auch die Öffentliche Meinung insgesamt beeinflussen. Dies kann insbesondere in demokratisch verfassten Gesellschaften zu gravierenden politischen Wirkungen führen.
    <p>

    <div zd-experts="expertQuotes"></div>

  </div>

</div>