<div zd-modal icon="{{WarfareIcons.getIconById('GUY')}}">

  <div zd-modal-body class="content-holder">
    <h1>Kritische Infrastruktur</h1>
    <p>
      Staat und Wirtschaft sind ebenso wie einzelne Individuen und gesellschaftliche Organisationen von der Versorgung mit Gütern, Rohstoffen, Informationen und Transportmöglichkeiten abhängig. Diese notwendige Infrastruktur wird von staatlichen und privaten Dienstleistern aufgebaut und aufrechterhalten.
    <p>
    <p>
      Kritisch werden solche Infrastrukturen dann genannten, wenn ihre Schädigung oder Zerstörung zu einer systemrelevanten Gefährdung der gesellschaftlichen Austauschbeziehungen führen würde. Zu den kritischen Infrastrukturen gehören z.B. Verkehrswege, Strom und Wasserversorgung, Telekomunikation aber auch Finanzströme.
    <p>
    <p>
      Alle Einrichtungen der kritischen Infrastrukturen sind in immer stärkerem Maß von der virtuellen Parallelwelt abhängig. Stromnetze werden über große Rechnernetzwerke gesteuert, die über das Internet verbunden sind. Mit Smart Grit wird sich die Internetsteuerung bis zur einzelnen Haushaltssteckdose ausweiten. Verkehrswege werden ebenso durch IT-Systeme gesteuert (Ampelanlagen, Fluglotsen) wie Handy- und Festtelefonnetze.
    <p>
    <p>
      Cyberwar-Attacken auf diese kritische Infrastruktur kann das gesellschaftliche Leben im angegriffenen Staat in kürzester Zeit zum Erliegen bringen. Was in konventionellen Kriegen selbst mit flächendeckender Bombardierung des gesamten Staates nicht vollständig gelingen kann, könnte durch einen massiven Hackerangriff auf die zentralen Steuerungseinheiten Wirklichkeit werden. Die Auswirkungen wären fatal. Ohne funktionierende Wasser- und Stromversorgung, ohne Telefon, Internet und Informationsmedien wäre der militärische Gegner geschlagen, bevor auch nur ein Schuss fällt.
    <p>
    
  </div>

</div>