<div zd-modal icon="{{ImpactIcons.getIconById('MOUSE')}}">

  <div zd-modal-body class="content-holder">
    <h1>Manipulation</h1>
    <p>
      Cyberwar-Attacken können Funktionen in den Zielsystemen so verändern, dass sie nicht ihren ursprünglich programmierten Zweck, sondern den Zielen des Angreifers dienen.
    <p>
    <p>
      Informationsmedien
    <p>
    <p>
      Durch Veränderung von Informationen, bzw. durch das Ausfiltern bestimmter Informationsquellen kann die Öffentliche Meinung beeinflusst werden.
    <p>
    <p>
      Wirtschaft
    <p>
    <p>
      Die Wirtschaftsdaten von Unternehmen können so verändert werden, dass sie fehlgesteuert werden. Noch problematischer ist die Beeinflussung von Börsen- und Finanzdaten. Damit können eigene Spekulationserfolge erzielt werden, oder ganze Staatswirtschaften ruiniert werden.
    <p>
    <p>
      Kritische Infrastruktur
    <p>
    <p>
      Die Steuerung von Stromnetzen kann so manipuliert werden, dass einzelne regionale Wirtschaftsbereiche lahmgelegt werden können.
    <p>
    <p>
      Beispiele für bereits heute durchgeführte Cyber-Manipulationen sind:
    <p>
  </div>

</div>