<div zd-modal icon="{{ImpactIcons.getIconById('WRENCH')}}">

  <div zd-modal-body class="content-holder">
    <h1>Sabotage</h1>
    <p>
      Von Sabotage spricht man dann, wenn die Manipulation der IT-Zielsystem zur Zerstörung dieser Systeme, oder zur Zerstörung der davon abhängigen Realsystem führt.
    <p>
    <p>
      Informationsmedien
    <p>
    <p>
      Das Blockieren von Internetportalen ist die einfachste Sabotageform. Sie verhindert den geplanten Informationsfluss.
    <p>
    <p>
      Wirtschaft
    <p>
    <p>
      Hat ein Angreifer die Kontrolle über die Steuerung eines Wirtschaftsunternehmens übernommen, kann er einzelne Produktionsstraßen und Maschinen so fehlsteuern, dass sie sich selbst zerstören.
    <p>
    <p>
      Kritische Infrastruktur
    <p>
    <p>
      Die Steuerung von Energienetzen kann so manipuliert werden, dass eine künstlich erzeugte Überlast zur Netzzerstörung führen kann. Kraftwerke können durch Fehlsteuerungen ebenfalls zerstört werden. Dies kann insbesondere bei Atomkraftwerken zu unüberschaubaren Gefahren führen.
    <p>
    <p>
      Beispiele für bereits heute durchgeführte Cyber-Sabotage sind:
    <p>

  </div>

</div>