<div zd-modal icon="{{ImpactIcons.getIconById('SPYGLASS')}}">

  <div zd-modal-body class="content-holder">
    <h1>Spionage</h1>
    <p>
      Ziel von Spionageangriffen ist es geheime Daten des Zielsystems zu erhalten und diese dann für seine eigenen Zwecke zu nutzen. Der Schaden für den Angegriffenen entsteht also nicht durch den Angriff selbst, sondern durch nachträgliche Aktionen des Angreifers in der realen Welt.
    <p>
    <p>
      Informationsmedien
    <p>
    <p>
      Das Abhören von Telekommunikationsdaten und internetverkehr kann z.B. bei wirtschaftlichen und politischen Verhandlungen die Verhandlungsposition des Angreifers deutlich verbessern.
    <p>
    <p>
      Wirtschaft
    <p>
    <p>
      Konstruktionszeichnungen und Finanzdaten sind beliebte Ziele von Cyber-Spionage-Angriffen auf Wirtschaftsunternehmen.
    <p>
    <p>
      Kritische Infrastruktur
    <p>
    <p>
      In und vor militärischen Angriffen können die Steuerungsdaten der kritischen Infrastruktur von gegnerischen Staaten wichtige Informationen liefern.
    <p>
    <p>
      Beispiele für bereits heute durchgeführte Cyber-Spionage sind:
    <p>
    
  </div>

</div>