<div zd-modal icon="{{WarfareIcons.getIconById('GUY')}}">

  <div zd-modal-body class="content-holder">
    <h1>Wirtschaft und Finanzmarkt</h1>
    <p>
      Alle Waren und Dienstleistungen einer Gesellschaft werden in Wirtschaftsunternehmen hergestellt und vertrieben. Der Wohlstand einer Gesellschaft, aber auch die Versorgung mit Grundgütern hängt deshalb wesentlich vom reibungslosen Ablauf in den Wirtschaftsunternehmen ab.
    <p>
    <p>
      Wirtschaftsunternehmen sind auf vielfältige Wiese mit der virtuellen Parallelwelt verknüpft. Die Unternehmenssteuerung läuft selbst bei kleinen Unternehmen über IT-Systeme wie SAP. Warenlieferungen und Zuliefererstrukturen werden über das Internet gesteuert. Marktzugänge und Kundenkontakte laufen über internetbasierte digitale Informationskanäle. Wirtschaftsbewertungen und Quartalsberichte stellen die Unternehmen den Börsen und den  Finanzmarktakteuern digital zur Verfügung.
    <p>
    <p>
      Der Finanzmarkt selbst, der die Aufgabe hat das notwendige Kapital an die richtigen Verwertungsplätze zu bringen, findet weitgehend nur noch in der virtuellen Welt statt. Börsenkurse, Währungshandel und riskante Termingeschäfte werden in internetbasierten IT-Systemen abgewickelt.
    <p>
    <p>
      Aktuelle Diskussionen zum Konzept Industrie 4.0 werden die Abhängigkeit der Wirtschaft von der virtuellen Parallelwelt noch steigern.
    <p>
    <p>
      Angriffe auf dieses enge Geflecht von Wirtschaft und Finanzmarkt in der virtuellen Parallelwelt kann einzelne Unternehmen, aber auch ganze Wirtschaftszweige und Saaten in den Ruin treiben.
    <p>

  </div>

</div>