<article>
  <h3>Veränderung der weltweiten Machtkonstellation</h3>

  <p>
    Cyberwar als andere Art der Kriegsführung schafft sowohl neue Angriffsmöglichkeiten als auch neue Angriffsflächen der Länder. Dies wird zukünftige Kriege verändern. Aber noch haben wir keinen Cyberwar zwischen Staaten erlebt. Die bisher dokumentierten Cyberangriffe zeigen aber, welche Potentiale und Gefahren sich aus diesen neuen Angriffsmethoden ergeben können. Die Militärs aus aller Welt bereiten sich mit hohem finanziellem und personellem Einsatz auf diese Veränderung der Gefährdungslage vor. Diese geschieht aufgrund militärischer Geheimhaltung weitgehend unter Ausschluss der Öffentlichkeit. Experten schätzen aber, dass insbesondere die USA, China und Russland aber auch militärisch bisher eher schwache Länder wie Nordkorea zu den aktivsten Cyberwar-Akteuren zählen. Auch die Bundeswehr hat jetzt(wann?) ihre Aktivitäten zu diesem Thema ausgebaut.
  </p>
  <p>
    Aber neue militärische Strategien und neue Gefährdungslagen verändern die Welt, auch bevor der Krieg ausbricht. Dies wurde in der langen Phase des kalten Krieges (»Coldwar«) deutlich. Die atomare Aufrüstung der zwei militärischen Blöcke in Ost und West hat über Jahrzehnte die politischen Verhältnisse in Europa und der Welt bestimmt, obwohl kein einziger Schuss zwischen den Kontrahenten gefallen ist. Damit stellt sich die Frage, wie sich die neue Entwicklung vom Kalten Krieg zum Cyberwar (»from Coldwar to Codewar« )und die daraus entstehenden neuen Gefährdungslagen, politisch auswirken werden. Dies ist aus der heutigen Sicht natürlich nur schwer vorherzusagen. Allerdings werden in der Fachliteratur Faktoren beschrieben, die sich auf die konkrete Gefährdungslage einzelner Staaten auswirken werden. Aus diesen Überlegungen erwarten die Experten eine Verschiebung der militärischen Machtverhältnisse, dies sie mit dem Begriff der »Anti-Asymmetrien« beschreiben.  
  </p>
  
</article>

<hr>

<article>
  <h3>Interactive Map – Wie funktionierts?</h3>
  <p>
    Ziel der »Interactive Map« ist es die unterschiedlichen Gefährdungslagen durch konventionelle Kriegsführung und durch Cyberwar der einzelnen Staaten zu visualisieren. Damit werden die Veränderungen vom »Coldwar« zum »Codewar« sichtbar und der Begriff der »Anti-Asymmetrien« auf der Grundlage realer statistischer Daten visualisiert.
  </p>
  <p>
    Auf der dargestellten Weltkarte werden die Indizes für die Gefährdung durch Cyberwar (»Codewar Threat«) und für die Gefährdung durch konventionelle Kriegsführung (»Conventional Threat«) dargestellt. Somit wird für jedes Land aufgezeigt in wie weit die neuen Kriegsführungsmöglichkeiten ihre Gefährdungslage vergrößern oder verkleinern. Dabei werden einige überraschende Effekte deutlich. Durch die Darstellung des jeweiligen Bruttoinlandsprodukts (BIP) können die unterschiedlichen Veränderungen der Gefährdungslagen mit der Wirtschaftskraft des jeweiligen Landes korreliert werden.
  </p>
  <p>
    Nach Klick auf ein ausgewähltes Land wird die Berechnungsgrundlage der Gefährdungseinschätzungen dargestellt. Dazu werden alle Einzelindizes und deren statistischen Messgrößen erläutert. Mit ausführlichen Erklärungen wird dargelegt, warum diese Einzelfaktoren sich auf die Gefährdungslage auswirken und wie der Gesamtgefährdungsindex rechnerisch ermittelt wurde.
  </p>

  <div class="cta-holder">
    <a class="btn primary border" href="#" zd-scroll-bottom>
      Los Gehts!
    </a>
  </div>

</article>

<img src="modules/overview/assets/placeholder-map.jpg" width="100%" style="margin-bottom: -125px">