<div class="header-bar">

  <div zd-menu-corner>
      <ul class="menu-entries no-list-style">
        <a href="#/overview/virtual-warfare" style="text-decoration: none">
          <li class="menu_vw">Virtual warfare</li> 
        </a>
      <ul class="menu-entries no-list-style">
        <a href="#/overview/real-impacts" style="text-decoration: none">
          <li class="menu_ri">Real Impacts</li> 
        </a>
      <ul class="menu-entries no-list-style">
        <a href="#/overview/current-attacks" style="text-decoration: none">
          <li class="menu_ca">Current Attacks</li> 
        </a>
      <ul class="menu-entries no-list-style">
        <a href="#/overview/potential-threads" style="text-decoration: none">
          <li class="menu_pt">Potential Threats</li> 
        </a>

          <li>About</li>
          <li>Sources</li>
      </ul>
  </div>

  <div class="header-logo">Logo</div>

</div>