<div zd-modal icon="{{WarfareIcons.getIconById('GUY')}}">

  <div zd-modal-body class="content-holder">
    <h1>Geringes Risiko kleines Gelde</h1>

    <p>
   </p>
   </p>
    Die vielleicht größten Auswirkungen der neuen Cyberwar-Möglichkeiten auf die weltweite Bedrohungs- und Machtkonstellationen könnten sich aus dem einfachen Umstand ergeben, dass Cyberwar-Attacken mit deutlich geringeren Finanzmitteln und geringem eigenen Risiko anzuwenden sind, als dies bei klassischen militärischen Schlägen zu erwarten ist.
   </p>
   </p>
    Die Hardware-Voraussetzungen für einen Hackerangriff können mit geringem finanziellem Aufwand geschaffen werden. Die Geräte sind auf dem Weltmarkt frei verfügbar und unterliegen keinen Handelsbeschränkungen wie z.B. Kriegswaffen. Ein Land muss allein in die Ausbildung und Weiterbildung von militärischen IT-Spezialisten investieren um im Cyberwar eine mächtige Rolle spielen zu können.
   </p>
   </p>
    Aufgrund des Attributationsproblems und der vielen Möglichkeiten unsichtbare Angriffe zu führen, braucht ein Angreifer auch nicht mit konventionellen Gegenschlägen zu rechnen. Cyber-Angriffe können also mit geringem Eigenrisiko durchgeführt werden. Dies kann auch kleine, bisher wenig mächtige Länder plötzlich militärisch relevant machen.
    </p>

  </div>

</div>