<div zd-modal icon="{{WarfareIcons.getIconById('GUY')}}">

  <div zd-modal-body class="content-holder">
    <h1>Hohe Hackerkompetenz</h1>
    <p>
      Die Militärs vieler Länder bauen z.B. eigene Cyberware-Einheiten auf. Dabei werden sowohl Defensiv-, wie Offensivstrategien entwickelt. Wie schon dargestellt, brauchen solche Einheiten wenig technische Investitionen. Wichtigste Ressource und Engpass für solche Aktivitäten ist die Akquirierung  und Ausbildung geeignete Mitarbeiter.
    <p>
    <p>
      Staaten mit einem hohen Bildungsgrad und insbesondere mit vielen IT-technischen Ausbildungs- und Studiengängen sind hier sicher von Vorteil. Da sich aber Hacker-Communities eher in den Subkulturen der Gesellschaft entwickeln ist der Zugriff der Militärs auf diese Ressource nicht immer einfach. Die Hacker müssen auch bereit sein, für das eigene Militär zu arbeiten.
    <p>
    <p>
      Auf der anderen Seite kann es auch zu neuen Söldnerarmeen kommen. Eine hochspezialisierte Hacker-Gruppe könnte ihre Dienstleistungen auch an gut zahlende fremde Militärs anbieten.
     <p>

     <cite>
      Beinahe jeder Staat möchte gerne eine möglichst große Truppe Hacker haben. Aber die Ausbildung von Hackern auf einem Nivieau, das es einem erlaubt, in Hochsicherheitssysteme einzubrechen, ist alles andere als einfach. Zumindest in der westlichen Hemisphäre sind dazu im Moment nur solche Hacker in der Lage, die mit Computern aufgewachsen sind und ganz eigene und sehr tiefgehende Intuitionen im Umgang mit diesem Gerät entwickelt haben.    
    </cite>
    <span class="author">Sandro Gaycken.</span>
 
    <cite>
      Die Erfahrungen mit Cybercrime hat gezeigt, dass etwa Länder, die in den 1990ern und den frühen 2000ern zu viele Informatiker ausgebildet haben, weil sie an die internet-Blase geglaubt hatten, einen deutlichen Vorsprung bei diesen Aktivitäten haben. Denn in diesen Ländern – wie Russland und China – stehen einfach bereits Heerscharen arbeitsloser Informatiker zur Verfügung. […] Viele gut ausgebildetet Informatiker ohne direkte Anstellung (vor allem auch viele erfahrene Cyberkriminelle) sind also ein guter Grundstock in diesem Bereich, der sich auch für die Einstellung von Cyberwar-Truppen nutzen lassen wird. Sie können direkt in die Militärs eingebettet werden.
    </cite>
    <span class="author">Sandro Gaycken.</span>
 
  </div>

</div>