<div zd-modal icon="{{WarfareIcons.getIconById('GUY')}}">

  <div zd-modal-body class="content-holder">
    <h1>Unichtbare Angriffe</h1>
    <p>
      Cyberwar-Angriffe sind besonders effektiv, wenn sie möglichst lange unbemerkt bleiben. Deshalb wird ein hoher Aufwand betrieben um im angegriffenen System unsichtbar zu bleiben. Dies wird dadurch erreicht, dass eine einmal eingedrungene Schadsoftware sich für lange Zeit in den Ruhemodus legen kann und dann durch externe Signale aktiviert wird, oder es zerstört sich nach erfolgreicher Manipulation des Zielsystems selbst. 
    <p>
    <p>
      Noch komplexere Unsichtbarkeitsstrategien beeinflussen die IT-Überwachungssystem oder die physikalischen Überwachungssysteme der Zielsysteme. So wird selbst die physische Zerstörung des Zielsystems erst bemerkt, wenn keine Gegenmaßnahmen mehr möglich sind.
    <p>
    <p>
      Noch raffinierte könnten Angriffe wirken, die als „stiller Ruin“ bezeichnet werden. Hierbei soll die Wirtschaftsunternehmen, Infrastruktur, Informationsstruktur etc.  eines Landes so angegriffen werden, dass ihre Effizienz ständig sinkt. Die Angriffe dürfen hier nicht als Angriffe erkannt werden. Vielmehr erscheinen die Probleme als System-Fehler, Fehlentscheidungen oder menschliches Versagen. Die Wirtschaftskraft eines Landes kann damit aber nachhaltig geschwächt werden.
    </p>

    <br></br>

  <h3>Unsichtbare ANgriffe</h3>
  <p> <a style="color:#00ff69;
font-family:'Apercu Mono Regular'"> 2015 | 10.Januar</a> <br> <br> <br>
  </p>


  <iframe src="https://player.vimeo.com/video/74423885?color=00ff69&title=0&byline=0&portrait=0" width="730" height="411" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  </div>


</div>