<div zd-modal icon="{{WarfareIcons.getIconById('STOPWATCH')}}">

  <div zd-modal-body class="content-holder">
    <h1>Krieg ohne Raum und Zeit</h1>
    <p>
      Das neue an Cyberwar-Angriffen ergibt sich aus ihren technischen Möglichkeiten. Während konventionelle militärische Angriffe immer eindeutig räumlich und zeitlich zugeordnet werden können, ist dies bei Cyberwar-Attacken nicht immer möglich. Wenn eine Bombe auf ein Haus fällt, ist das Angriffsziel eindeutig bestimmt und der Angriffsweg kann zumeist zeitlich und räumlich rückverfolgt werden.
    <p>
    <p>
      Dies ist bei Cyberwar-Attacken nicht immer so. Ein Virenangriff kann schon Jahre vor dem Schadensfall erfolgt sein. Der zeitliche Zusammenhang mit der Schadenswirkung kann in aller Regel nicht mehr hergestellt werden. Auf der anderen Seite können sich Angriffe mit Leichtgeschwindigkeit im Netz verbreiten, oder gar zeitgleich in mehreren Zielsystemen stattfinden. 
    <p>
    <p>
      Auch der Zielort ist nicht immer eindeutig, da ja nicht das physisch zerstörte Ziel direkt angegriffen wir, sondern ein IT-System, das das physische Zielsystem steuert. So kann z.B. ein Angriff auf die Zentrale der deutschen Hochspannungsnetze in Hamburg dafür sorgen, dass in München die Stromversorgung ausfällt.
    <p>
    <p>
      Die zeitliche und räumliche Indifferenz von Cyberwar-Attacken ist eine der größten Herausforderungen für jede Defensivstrategien.
    </p>

  </div>

</div>