@import "../../../main/components/main/variables.style";
@import "../../../main/components/main/mixins.style";

.intro-view{
  display: flex;
  align-items: center;

  .text-container{
    max-width: 600px;
    margin: 0 auto;
  }
}
