<section full-screen-view class="intro-view">

  <h2>FROM COLDWAR TO CODEWAR</h2>

  <p>
    Die Internetseite »Zero Day« möchte über das Thema Cyberwar informieren. Cyberwar ist längst kein fiktives
    „Science-Fiction Szenario“ mehr. Durch die zunehmende Anzahl an Cyber-Angriffen, ausgeführt durch Hacker aus aller
    Welt, wird der Begriff „Cyberwar“ immer häufiger von Medien und IT-Experten als reale Gefahr verstanden. Die
    Experten reden von Cyberwar allerdings nur, wenn staat&shy;liche Akteure beteiligt sind. Tatsächlich bereiten sich
    die Militärs vieler Staaten mit defensiven und offensiven Strategien auf diese neue virtuelle Gefahrenlage vor.
  </p>
  <p>
    Der Übergang von der konventionellen Art der Kriegsführung (»Coldwar«) zu den neunen Angriffsmöglichkeiten des
    Cyberwar (»Codwar«) hat aber auch weit&shy;reichende politische Konsequenzen. Denn die spezifischen
    Rahmenbedingungen des Cyberwar könnten auch die weltweiten Machtkonstellationen verändern.
  </p>
  <p>
    »Zero Day« –bezeichnet den Tag, an dem eine neue IT-Sicherheitslücke auftritt und von einem Hacker genutzt wird.
    Diese »Zero-Day-Exploits« sind die Grund&shy;lage für eine neue Art der Kriegsführung: dem cyberwar.
  </p>

</section>
