&.start.ng-enter, &.start.ng-leave, &.start.ng-enter, &.start.ng-leave {
  @include single-transition(all, 1.1s, ease);
}

/* Overview -> Virtual Warfare */
&.start.overview-enter.ng-leave {
  .navigator{
    display: block;
  }
}

&.start.overview-enter.ng-leave-active {
  z-index: 1;
  .navigator{
    .entry{
      transform: translateY(0%);
    }
  }

}