@import "start_transitions";

&.start{
  .bg-pattern,
  .bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .bg-pattern{
    @include grid-bg(#05ee66, #00ff69);
  }

  .bg-overlay{
    background-color: white;
    opacity: 0;
  }

  .intro-page{
    justify-content: center;
    .logo-container{
      .icon{
        font-size: 50vw;
      }
    }
  }

  .description-page{
    top: 100%;
    flex-direction: column;

    .text-container{
      max-width: 600px;
      margin: 0 auto;
      h2{
        text-align: center;
      }
    }

    .zd-go-to-page-on-page-end{
      position: absolute;
      bottom: 30px;
      width: inherit;
    }
  }

  .navigator{
    position:fixed;
    display: none;

    .entry{
      @include single-transition(transform, 1s, ease);
    }

    .entry.warfare{
      transform: translateY(100%);
    }
    .entry.impacts{
      transform: translateY(134%);
    }

    .entry.attacks{
      transform: translateY(168%);
    }

    .entry.threads{
      transform: translateY(200%);
    }
  }

}