&.overview{

  .entries-holder{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    .entry{

      height: 100%;
      transition: width 1s ease;
      overflow: hidden;
      white-space: nowrap;

      display: flex;
      flex-direction: column;
      flex-basis: 25%;

      @include single-transition(flex-basis, 1s, ease);

      &.warfare{
        background: rgb(192,255,217);
      }

      &.impacts{
        background: rgb(128,255,179);
      }

      &.attacks{
        background: rgb(64,255,141);
      }

      &.threads{
        background: rgb(0,255,105);
      }

      .holder{
        height: 100%;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        @include single-transition(opacity,0.5s, ease);

        object{
          width: 100%;
          flex-basis: 85%;
          pointer-events: none;
        }

        .title{
          position: relative;
          padding: 16px;
          flex-basis: 15%;
          transform: translateY(18px);
          @include single-transition(transform,0.5s, ease);

          h2,p{
            margin: 0;
          }

          p{
            opacity: 0;
            @include single-transition(opacity,0.5s, ease);
          }
        }
      }

      &:hover{
        flex-basis: 75%;
      }

      &:hover,
      &.active{
        .holder{

          .title{
            transform: translateY(0);
            p{
              opacity: 1;
            }
          }
        }
      }

      &.active{
        &.entries-prev-next{
          flex-basis: 96%;
        }

        &.entry-prev,
        &.entry-next{
          flex-basis: 98%;
        }

        .holder{
          width: 100% !important;
        }
      }

      &.no-flex,
      &.min-flex{
        .holder{
          opacity: 0;
        }
      }

      &.no-flex{
        flex-basis: 0;
      }

      &.min-flex{
        flex-basis: 2%;
      }
    }
  }

}