@import "vars";
@import "zd_experts";
@import "transitions/overview_transitions";
@import "transitions/virtual_warfare_transitions";
@import "transitions/real_impacts_transitions";
@import "transitions/current_attacks_transitions";
@import "transitions/potential_threads_transitions";

&.overview,
&.start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .entries-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    min-height: 100%;

    .entry {
      min-height: 100%;
      white-space: nowrap;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      flex-basis: 25%;

      @include transition(flex-basis 1s ease, background-color 1s ease, transform 1s ease);

      &.warfare {
        background-color: $warfare-color;

        .bg-pattern {
          @include grid-bg(white, $warfare-color);
        }
      }

      &.impacts {
        background-color: $impact-color;

        .bg-pattern {
          @include grid-bg(white, $impact-color);
        }
      }

      &.attacks {
        background-color: $attacks-color;

        .bg-pattern {
          @include grid-bg(white, $attacks-color);
        }
      }

      &.threads {
        background-color: $threads-color;

        .bg-pattern {
          @include grid-bg(white, $threads-color);
        }
      }

      .holder {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include single-transition(opacity, 1s, ease);

        object {
          //width: 100%;
          flex-basis: 70%;
          pointer-events: none;
        }

        .title {
          position: relative;
          padding: 25px 16px 0 11%;
          flex-basis: 15%;
          transform: translateY(18px);
          max-height: 50px;
          @include single-transition(transform, 1s, ease);

          h2, p {
            margin: 0;
            font-size: 20pt;
            text-transform: uppercase;
            font-family: "Apercu Regular", Calibri, Roboto, sans-serif;
          }

          p {
            opacity: 0;
            font-size: 12pt;
            font-family: "Apercu Regular", Calibri, Roboto, sans-serif;
            @include single-transition(opacity, 1s, ease);
          }

        }
      }

      .bg-pattern {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        opacity: 0;
        @include single-transition(opacity, 1s, ease);
      }

      @import "content";

      .button-holder {
        position: relative;
        z-index: 9;
        .btn-nav {
          width: 50%;
          margin-top: 10%;
          margin-right: -4%;
          padding: 30px;
          box-sizing: border-box;
          color: $zdGray;
          text-transform: uppercase;
          &:nth-child(1) {
            text-align: left;
          }
          &:nth-child(2) {
            text-align: right;
          }
        }

        &.single-btn {
          .btn-nav {
            width: 100%;

            &.right{
              text-align: right;
            }
          }
        }
      }

      &:hover {
        flex-basis: 75%;
      }

      &:hover,
      &.active {
        .holder {
          .title {
            transform: translateY(0);
            p {
              opacity: 1;
            }
          }
        }
      }

      &.active {
        &.entries-prev-next {
          flex-basis: 96%;
        }

        &.entry-prev,
        &.entry-next {
          flex-basis: 98%;
        }

        .holder {
          .title {
            transform: translateX(5%);
          }
        }
      }

      &.no-flex,
      &.min-flex {
        .holder {
          opacity: 0;
        }
      }

      &.no-flex {
        flex-basis: 0;
      }

      &.min-flex {
        flex-basis: 2%;
        z-index: 1;
        position: relative;

        &:after{
          content: attr(zd-title);
          position: absolute;
          top: 10%;
          opacity: 0;
          transform: rotate(-90deg);
          @include transition(left 0.5s ease, opacity 1s ease);
          left: 0;
          display: block;
        }

        &:hover {
          flex-basis: 4%;
          &:after{
            left: -35px;
            opacity: 1;
          }
        }

      }
    }

    .hidden-entry-holder {
      flex-basis: 2%;
      display: flex;

      .entry.impacts {
        flex-basis: 100%;
      }

      .entry .holder {
        display: none;
      }
    }
  }

  .btn {
    &.warfare {
      background: $warfare-color;
      color: white;
    }

    &.impact {
      background: $impact-color;
      color: white;
    }

    &.attacks {
      background: $attacks-color;
      color: white;
    }

    &.threads {
      background: $threads-color;
      color: white;
    }
  }

  .pull-out {
    margin: 0 -17%;
  }
}

.zd-modal {
  .modal-body {
    position: fixed;
    top: 0;
    max-height: 100%;
    height: 100%;
    background: transparent;
    color: white;
    padding: 14px 50px;
    @include box-shadow(none);
  }
}

.spy-holder {
  &:after {
    content: '';
    clear: both;
  }
  .calendar,
  .content {
    float: left;
  }

  .calendar {
    width: 20%;
    position: relative;
    margin-top: 40px;

    li > ul {
      position: absolute;
      top: 0;
      left: 80px;
      display: none;
    }

    li a {
      text-decoration: none;
      color: $zdBlack;
    }

    li.active {

      > a {
        color: #40ff8d;
      }

      > ul {
        display: block;
      }

    }
  }

  .content {
    width: 80%;
  }

  .calendar.affix {
    position: fixed;
    top: 10px;

    ~ .content {
      margin-left: 20%;
    }
  }
}

