.zd-experts{
  position: relative;

  .expert-holder{
    display: flex;
    justify-content: center;

    .experts{
      position: relative;

      i {
        font-size: 15vw;
      }

      .info{
        position: absolute;
        display: none;
        color: $zdBlack;
        padding: 10px;
        width: 200%;

        h4{
          font-size: 22px;
          margin: 0 0 5px 0;
        }
        span{
          font-size: 15px;
        }
      }

      &.active{
        i{
          color:$warfare-color;
        }
        .info{
          display: block;
        }
      }
    }
  }

  .spacer{
    height: 100px;
    background: $warfare-color;
  }

  .quote-holder{
    height: 260px;
    overflow: scroll;
    padding: 0 200px 40px 200px;
    background: $warfare-color;

    cite{
      color: $zdBlack !important;
      font-size: 35px;
      line-height: 48px;
    }
  }

  .nav-btn{
    position: absolute;
    bottom: 40%;

    &.next-btn{
      right: 68px;
    }

    &.prev-btn{
      left:68px;
    }
  }
}