.zd-experts{
  position: relative;

  .expert-holder{
    display: flex;
    justify-content: center;

    .experts{
      position: relative;

      i {
        font-size: 13vw;
        @include single-transition(color, 1s, ease);
      }

      .info{
        position: absolute;
        opacity: 0;
        color: $zdBlack;
        padding: 10px;
        width: 105%;
        line-height: 12pt;
        transform: translateY(5px);
        @include transition(transform 1s ease, opacity 0.2s ease);

        h4{
          font-size: 13pt;
          margin: 0 0 5px 0;
          line-height: 20pt;
        }
        span{
          font-size: 9pt;
        }
      }

      &.active{
        i{
          color:$expert-highlight-color;
        }
        .info{
          display: block;
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

  .spacer{
    height: 150px;
    background: $expert-highlight-color;
  }

  .quote-holder{
    height: 350px;
    padding: 0 200px 40px 200px;
    background: $expert-highlight-color;
    margin: 0;
    overflow: auto;

    cite{
      color: $zdBlack !important;
      font-size: 22pt;
      line-height: 26,4pt;
      font-style: normal;
      font-family: "Apercu Regular";
    
       &:before {
          content: "»"
        }

      &:after {
        content: "«"
        }

    }
  }

  .nav-btn{
    position: absolute;
    bottom: 35%;
    font-size: 90px;

    &.next-btn{
      right: 68px;
    }

    &.prev-btn{
      left:68px;
    }
  }
}