<div class="bg-pattern" zd-set-background-position-on-scroll parallax-offset="0.4"></div>
<div class="bg-overlay" zd-fade-to-color-on-scroll max-opactiy="50" color="white"></div>
<div class="intro-page center-items">
  <div class="logo-container">

    <img src="modules/start/images/logo.png" width="100%">

  </div>
</div>

<div class="description-page center-items">

  <div class="text-container">
    <h2>From Coldwar to Codewar</h2>

    <p>
      Brooklyn tumblr bushwick disrupt, tote bag pabst pitchfork chia beard locavore kogi hella mumblecore thundercats.
      Venmo shoreditch dreamcatcher PBR&B truffaut, craft beer microdosing chambray deep v tousled artisan listicle
      letterpress fixie.
      Lo-fi kinfolk portland, asymmetrical viral everyday carry locavore.
      Try-hard butcher plaid irony gastropub, chia tilde kickstarter lomo kogi meggings austin migas. Semiotics craft
      beer
      street art, skateboard typewriter kickstarter gluten-free four loko knausgaard tacos wayfarers twee single-origin
      coffee sustainable.
      Yr literally stumptown post-ironic. Normcore mlkshk bushwick try-hard trust fund before they sold out pour-over,
      chillwave swag +1 everyday carry irony PBR&B.
    </p>

    <p>
      Vegan literally cliche quinoa chartreuse ethical trust fund salvia banh mi heirloom art party, viral kombucha
      vinyl.
      Dreamcatcher distillery sriracha pork belly YOLO. Farm-to-table kickstarter biodiesel, aesthetic meh mixtape VHS
      actually sustainable church-key cardigan pinterest DIY. Lo-fi vegan ethical chicharrones poutine, gluten-free
      semiotics hella pabst gentrify lumbersexual everyday carry four loko small batch. Gastropub fap neutra banh mi,
      brunch beard post-ironic thundercats irony quinoa chambray. Typewriter jean shorts twee, you probably haven't
      heard
      of them vegan brooklyn irony biodiesel everyday carry forage pop-up. Kombucha intelligentsia before they sold out,
      beard flexitarian cronut meditation pug next level.
    </p>
  </div>
</div>