<div class="bg-pattern"
     zd-set-background-position-on-scroll
     parallax-offset="0.4"

     zd-fade-to-color-on-scroll
     max-opacity="80"
     color="#fff">
</div>
<div class="intro-page center-items full-screen-view">
  <div class="logo-container">

    <img src="modules/start/images/logo.png" width="100%">

  </div>
</div>

<div class="description-page center-items full-screen-view">

  <div class="text-container">
    <h2>FROM COLDWAR TO CODEWAR</h2>

    <p>
      Die Internetseite »Zero Day« möchte über das Thema Cyberwar informieren. Cyberwar ist längst kein fiktives „Science-Fiction Szenario“ mehr. Durch die zunehmende Anzahl an Cyber-Angriffen, ausgeführt durch Hacker aus aller Welt, wird der Begriff „Cyberwar“ immer häufiger von Medien und IT-Experten als reale Gefahr verstanden. Die Experten reden von Cyberwar allerdings nur, wenn staat&shy;liche Akteure beteiligt sind. Tatsächlich bereiten sich die Militärs vieler Staaten mit defensiven und offensiven Strategien auf diese neue virtuelle Gefahrenlage vor.
    </p>
    <p>
      Der Übergang von der konventionellen Art der Kriegsführung (»Coldwar«) zu den neunen Angriffsmöglichkeiten des Cyberwar (»Codwar«) hat aber auch weit&shy;reichende politische Konsequenzen. Denn die spezifischen Rahmenbedingungen des Cyberwar könnten auch die weltweiten Machtkonstellationen verändern.
    </p>
    <p>
      »Zero Day« –bezeichnet den Tag, an dem eine neue IT-Sicherheitslücke auftritt und von einem Hacker genutzt wird. Diese »Zero-Day-Exploits« sind die Grund&shy;lage für eine neue Art der Kriegsführung: dem cyberwar.
    </p>
  </div>

  <div zd-go-to-page-on-page-end="/overview"></div>

</div>

<div class="navigator full-screen-view center-items">

  <div class="entries-holder">

    <div zd-overview-item
         id="warfare"
         url="/overview/virtual-warfare"
         logo-url="modules/overview/assets/warfare_logo.svg"
         logo-fallback-url="modules/overview/assets/warfare_logo_fallback.png"
         title="Virtual Warfare"
         copy="Das Virtuelle Schlachtfeld"
         holder-width="50%"></div>

    <div zd-overview-item
         id="impacts"
         url="/overview/real-impacts"
         logo-url="modules/overview/assets/impacts_logo.svg"
         logo-fallback-url="modules/overview/assets/impacts_logo_fallback.png"
         title="Real Impacts"
         copy="Auswirkungen auf die reale Welt"
         holder-width="50%"></div>

    <div zd-overview-item
         id="attacks"
         url="/overview/current-attacks"
         logo-url="modules/overview/assets/attacks_logo.svg"
         logo-fallback-url="modules/overview/assets/attacks_logo_fallback.png"
         title="Current Attacks"
         copy="Die Geschichte der Cyberattacken"
         holder-width="50%"></div>

    <div zd-overview-item
         id="threads"
         url="/overview/potential-threads"
         logo-url="modules/overview/assets/threads_logo.svg"
         logo-fallback-url="modules/overview/assets/threads_logo_fallback.png"
         title="Potential Threats"
         copy="Veränderung der Machtkonstellation"
         holder-width="50%"></div>

  </div>
</div>