<div class="entry {{id}} {{hasUrl()?'':'un-clickable'}}" ng-click="open()">
    <div class="holder" zd-calculate-static-width="{{holderWidth}}" zd-calculate-static-height="100%">
        <object data="{{logoUrl}}" type="image/svg+xml">
            <img ng-if="logoFallbackUrl"
                 ng-src="{{logoFallbackUrl}}"/>
        </object>
        <div class="title">
            <h2>{{zdTitle}}</h2>

            <p class="copy">{{copy}}</p>
        </div>
    </div>
    <div ng-transclude></div>
</div>